<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="TextToSpeech" Language="1033" Version="2.0.0.0" Manufacturer="Olabamiji" UpgradeCode="4547332d-e749-4802-be14-1c9e7ff2548e">
		<Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

		<!-- Handle upgrades between versions -->
		<Upgrade Id="f4b1adbb-5b46-43f3-95f9-9ff2564da80b">
			<UpgradeVersion Minimum="1.0.0.0" Maximum="2.0.0.0" Property="OLDERVERSIONBEINGUPGRADED" IncludeMinimum="yes" IncludeMaximum="no" />
		</Upgrade>

		<!-- Maintenance Dialog -->
<UI Id="WixUI_Minimal">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />
      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="Minimal" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />
      <DialogRef Id="WelcomeDlg" />
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="PrepareDlg">1</Publish>
     <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
     <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>
     <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>
     <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
     <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
     <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>
     <Property Id="ARPNOMODIFY" Value="1" />
</UI>
<UIRef Id="WixUI_Common" />
		<MajorUpgrade DowngradeErrorMessage="A newer version of TextToSpeech is already installed." AllowDowngrades="no" />
		<MediaTemplate EmbedCab ="yes"/>

		<Feature Id="ProductFeature" Title="TextToSpeech" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentRef Id="DesktopFolderShortcut" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="TextToSpeech" />
			</Directory>
		<Directory Id="DesktopFolder" Name="Desktop"/>
		</Directory>
		<DirectoryRef Id="DesktopFolder">
			<Component Id="DesktopFolderShortcut" Guid="51edd39a-e106-4230-9051-39452953abe2">
				<Shortcut Id="DesktopShortcut" Name="TextToSpeech" Description="TextToSpeech" Target="[INSTALLFOLDER]TextToSpeech.exe" WorkingDirectory="INSTALLFOLDER" />
				<RemoveFolder Id="DesktopFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\TextToSpeech" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
			</DirectoryRef>
	</Fragment>
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id = "TextToSpeech" Guid= "632364a3-1dbe-4c8d-a970-a431c981fb91">
				<File Id = "TextToSpeech" Name= "TextToSpeech.exe" Source= "..\TextToSpeech\bin\Release\">
				</File>
			</Component>
			<Component Id="TextToSpeechLoggerComponent" Guid="66494e37-b60c-4e87-873e-c255b1194b20">
				<File Id="TextToSpeechLogger" Name="TextToSpeechLogger.dll" Source="..\TextToSpeechLogger\bin\Release\" KeyPath="yes" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
