<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?define VersionNumber="2.0.0.1" ?>

	<?define UpgradeCode="f4b1adbb-5b46-43f3-95f9-9ff2564da80b" ?>
	
	<?define Win64 = "no" ?>
	<?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
	<?define MyAppExeSourcePath = "$(var.ProjectDir)..\TextToSpeech\bin\Release\TextToSpeech.exe" ?>

	<Product Id="*" Name="!(loc.ApplicationName)" Language="!(loc.Language)" Version="$(var.VersionNumber)" Manufacturer="!(loc.ManufacturerFullName)" UpgradeCode="$(var.UpgradeCode)" >

		<Package Id="*" InstallerVersion="400" Compressed="yes" InstallScope="perMachine"  Description="!(loc.ProductDescription)" Comments="!(loc.Comments) $(var.VersionNumber)" />

		<WixVariable Id="WixUILicenseRtf" Value="dummy" />

		<!-- UI customization -->		

		<WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)images\InstallerBanner_v2.png" />
		<WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)images\InstallerDialog_v2.png" />

		<Icon Id="Icon.exe" SourceFile="$(var.ProjectDir)images\299033_microphone_icon.ico"  />

		<Property Id="ARPPRODUCTICON" Value="$(var.ProjectDir)images\299033_microphone_icon.ico" />
		<Property Id="ARPNOREPAIR" Value="yes" Secure="yes" />
		<!-- Remove repair -->
		<Property Id="ARPNOMODIFY" Value="yes" Secure="yes" />

		<MajorUpgrade DowngradeErrorMessage="!(loc.NewerInstalled)" AllowSameVersionUpgrades="yes" />

		<InstallExecuteSequence>

			<Custom Action="SetARPINSTALLLOCATION" After="InstallValidate"></Custom>

		</InstallExecuteSequence>

		<CustomAction Id="SetARPINSTALLLOCATION" Property="ARPINSTALLLOCATION" Value="[INSTALLDIR]" />

		<Condition Message="!(loc.OS2Old)">
			<![CDATA[Installed OR (VersionNT >= 600)]]>
		</Condition>

		<?if $(var.Platform) = x64 ?>
		<Condition Message="!(loc.x86VersionRequired)">
			<![CDATA[VersionNT64]]>
		</Condition>
		<?endif?>
		
		<CustomAction Id='SaveCmdLineValueINSTALLDIR' Property='CMDLINE_INSTALLDIR' Value='[INSTALLDIR]' Execute='firstSequence' />
		<CustomAction Id='SetFromCmdLineValueINSTALLDIR' Property='INSTALLDIR' Value='[CMDLINE_INSTALLDIR]' Execute='firstSequence' />
		<InstallUISequence>
			<Custom Action='SaveCmdLineValueINSTALLDIR' Before='AppSearch' />
			<Custom Action='SetFromCmdLineValueINSTALLDIR' After='AppSearch'>
				CMDLINE_INSTALLDIR
			</Custom>
		</InstallUISequence>
		<InstallExecuteSequence>
			<Custom Action='SaveCmdLineValueINSTALLDIR' Before='AppSearch' />
			<Custom Action='SetFromCmdLineValueINSTALLDIR' After='AppSearch'>
				CMDLINE_INSTALLDIR
			</Custom>
		</InstallExecuteSequence>

		<CustomAction Id='SaveCmdLineValueSERVERS' Property='CMDLINE_SERVERS' Value='[SERVERS]' Execute='firstSequence' />
		<CustomAction Id='SetFromCmdLineValueSERVERS' Property='SERVERS' Value='[CMDLINE_SERVERS]' Execute='firstSequence' />
		<InstallUISequence>
			<Custom Action='SaveCmdLineValueSERVERS' Before='AppSearch' />
			<Custom Action='SetFromCmdLineValueSERVERS' After='AppSearch'>
				CMDLINE_SERVERS
			</Custom>
		</InstallUISequence>
		<InstallExecuteSequence>
			<Custom Action='SaveCmdLineValueSERVERS' Before='AppSearch' />
			<Custom Action='SetFromCmdLineValueSERVERS' After='AppSearch'>
				CMDLINE_SERVERS
			</Custom>
		</InstallExecuteSequence>

		<Property Id="INSTALLDIR">
			<RegistrySearch Id="DetermineInstallLocation" Type="raw" Root="HKLM" Key="Software\!(loc.ManufacturerName)\InstalledProducts\!(loc.ApplicationName)" Name="InstallLocation" />
		</Property>
		<Property Id="SERVERS">
			<RegistrySearch Id="DetermineServers" Type="raw" Root="HKLM" Key="Software\!(loc.ManufacturerName)\InstalledProducts\!(loc.ApplicationName)" Name="Servers" />
		</Property>
		<SetProperty Before='InstallInitialize' Sequence='execute' Id='SERVERS' Value='localhost:19500'>NOT SERVERS</SetProperty>

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

		<Directory Id="TARGETDIR" Name="SourceDir">

			<Directory Id="$(var.PlatformProgramFilesFolder)">

				<Directory Id="ProgramFilesHK" Name="!(loc.ManufacturerName)">

					<Directory Id="INSTALLDIR" Name="!(loc.ApplicationName)">

						<Component Id="INSTALLDIR_comp" Guid="5f1b2af9-4924-401f-9220-16b7a1c021c0">
							<CreateFolder />
							<RemoveFile Id="RemoveFilesFromAppDirectory" Name="*.*" On="uninstall" />
						</Component>
						<Component Id = "TextToSpeech" Guid= "632364a3-1dbe-4c8d-a970-a431c981fb91">
							<File Id = "TextToSpeech" Name= "TextToSpeech.exe" Source= "..\TextToSpeech\bin\Release\">
							</File>
						</Component>
						<Component Id="TextToSpeechLoggerComponent" Guid="66494e37-b60c-4e87-873e-c255b1194b20">
							<File Id="TextToSpeechLogger" Name="TextToSpeechLogger.dll" Source="..\TextToSpeechLogger\bin\Release\" KeyPath="yes" />
						</Component>

					</Directory>
				</Directory>
			</Directory>
			<Directory Id="DesktopFolder" Name="Desktop"/>
			

			<!-- Registry entries -->
			<Component Id="RegValInstallLocation_comp" Guid="c8afd96b-770e-4ac1-beb5-7b50dc37618c">
				<RegistryKey Root="HKLM" Key="Software\!(loc.ManufacturerName)\InstalledProducts\!(loc.ApplicationName)">
					<RegistryValue Name="InstallLocation" Value="[INSTALLDIR]" Type="string" KeyPath="yes" />
					<RegistryValue Name="Servers" Value="[SERVERS]" Type="string" />
				</RegistryKey>
			</Component>
		</Directory>

		<DirectoryRef Id="DesktopFolder">
			<Component Id="DesktopFolderShortcut" Guid="51edd39a-e106-4230-9051-39452953abe2">
				<Shortcut Id="DesktopShortcut" Name="TextToSpeech" Description="TextToSpeech" Target="[INSTALLDIR]TextToSpeech.exe" WorkingDirectory="INSTALLDIR" />
				<RemoveFolder Id="DesktopFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\TextToSpeech" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
		<Feature Id="Complete" Title="!(loc.ApplicationName)" Description="!(loc.FeatureCompleteDescription)" Display="expand" Level="1" ConfigurableDirectory="INSTALLDIR">

			<Feature Id="MainProgram" Title="!(loc.FeatureMainProgramTitle)" Description="!(loc.FeatureMainProgramDescription)" Level="1">
				<ComponentRef Id="INSTALLDIR_comp" />
				<ComponentRef Id="TextToSpeech" />
				<ComponentRef Id="TextToSpeechLoggerComponent" />
				<ComponentRef Id="DesktopFolderShortcut" />

				<!-- Registry entries -->
				<ComponentRef Id="RegValInstallLocation_comp" />
			</Feature>

		</Feature>

		<UI>
			<UIRef Id="WixUI_HK" />
		</UI>		
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
		<Property Id="WIXUI_SERVERS" Value="SERVERS" />
	</Product>

</Wix>